@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Визначення спрямованості особистості</h2>
        <p>
            Пропонуємо низку тверджень. Якщо Ви згодні з висловленням, то в бланку для відповідей поставте під його 
            номером «+», якщо ні, то «–». Для визначення особистісної спрямованості потрібно використовувати орієнтаційну
            анкету, вперше опубліковану Б. Бассом у 1967 р. Анкета складається з 27 пунктів-суджень, для кожного з яких
            можливі три варіанти відповіді, що відповідають трьом видам спрямованості особистості. Респондент повинен вибрати
            одну відповідь, що найбільше виражає його думку або відповідає реальності, і ще один, який, навпаки, найбільш
            далекий від його думки або ж найменш відповідає реальності. 
        </p>
        <p><a class="btn btn-default" href="/orientation">Перейти до тесту &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Визначення типу темпераменту</h2>
        <p>
            Когда-то давно древнегреческий врач Гиппократ выделил четыре типа темперамента. Эта классификация актуальна и по сей день.
            Данный тест состоит из 4 частей, в каждой части – 20 утверждений, характеризующих определенный тип темперамента. Вам нужно 
            будет согласиться или не согласиться с каждым утверждением в зависимости от того, насколько оно применимо к вам.
        </p>
        <p><a class="btn btn-default" href="/temperament">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Визначення сильних сторін характеру</h2>
        <p>
            Предлагаем вам определить сильные стороны своего характера, а возможно, выбрать направление, куда двигаться дальше.

            Перед Вами 8 типов рисунка человека, составленных из простых геометрических фигур: треугольника, круга и квадрата. 
            Выбирайте рисунок, с которым вы себя больше всего ассоциируете и смотрите ответ о своих сильных сторонах и о своем типе личности.

        </p>
        <p><a class="btn btn-default" href="/strengths">Learn more &raquo;</a></p>
    </div>
</div>