

@{
    ViewBag.Title = "Index";
    string imagePath = @"images\StrengthTest.png";
}

<h2>Index</h2>

<form method="post" action="/Tests/Strengths/result">
    <div class="panel panel-default">
        <div class="panel-heading">Оберіть номер картинки яка вам найбільше подобається</div>
            <div class="panel-body" align="center">
                <img src="~/images/StrengthTest.png" alt="Sample Image" />
                
                <select class="form-control" id="answer" name="answer">
                    @for (int i = 1; i < 9; ++i)
                    {
                        <option>@i</option>
                    }
                </select> <br />
            </div>
        </div>
    <button type="submit">Виконано</button>
</form>

